.App{
    background-color: #dce1eb;
    background-color: white;
    height: 100vh;
}

:root{
    --colour-main:#7380ec;
    --colour-trouble:#ff7782;
    --colour-good:#41f1b6;
    --colour-warning:#ffbb55;
    --colour-white:#fff;
    --colour-info-dark:#7d8da1;
    --colour-info-light:#dce1eb;
    --colour-dark:#363949;
    --colour-light:rgba(132, 139, 200, 0.18);
    --colour-primary-variant:#111e88;
    --colour-dark-variant:#677483;
    --color-background:#fff;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--colour-light)
  }

  /* total css */

  .loanContainer{
    padding-top: 1%;
  }
  
  .data-input{

    background-color: white;
    padding: var(--card-padding);
    border-radius: var(--border-radius-2);
    border: 1px solid rgb(209, 203, 203);
  
  }
  
  .totatPaymentContainer{

    background-color: white;
    padding: var(--card-padding);
    border-radius: var(--border-radius-2);
    border: 1px solid rgb(209, 203, 203);
  
  }
  
  .PieGraph{

    background-color: white;
    padding: var(--card-padding);
    border-radius: var(--border-radius-2);
    height: 100%;
    width: 100%;
    border: 1px solid rgb(209, 203, 203);
  
  }
  
  .table{

    background-color: white;
    padding: var(--card-padding);


  }

  /* Button css */

  .loan-buttons{
    display: flex;
    gap: 0.8rem;
  }

  .loanAdvice{
    margin-top: 2%;
    background-color: white;
  }
